# -----------------------
# OS-specific
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Python / Django
# -----------------------
__pycache__/
*.py[cod]
*$py.class
db.sqlite3

# -----------------------
# Virtual Environments
# -----------------------
.venv/
venv/
env/

# -----------------------
# IDE / Editor
# -----------------------
.idea/
.vscode/

# -----------------------
# Logs & Coverage
# -----------------------
*.log
.coverage
htmlcov/
coverage/
